
a{
    text-decoration: none;
}

.manito{
    cursor: pointer;
}
img{
    border: 0;
}
#footer{
    font-size: 9px;
    color: #666;
}
.logo{
    
}
.manito{
    cursor: pointer;
}
body {
    background-color: #e0e0e0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #7d7d7d;
    text-align: center
}

#wrap {
    font-size: 12px;
    margin:0 auto;
    width:600px;
}

#wrap2 {
    font-size: 10px;
    margin:0 auto;
    width:300px;
}


#head-user {
color: Red;}
.nuevo{
	width:100%;
	border-width: 0;
	font-family: "Lucida Sans Unicode", "Lucida Sans Unicode", "Lucida Grande", Sans-Serif; /*Tipo Letra del Menu*/
	font-size: 12px;
	font-weight: none;
}
.head{
	width:100%;
	border-width: 0;
	font-family: "Lucida Sans Unicode", "Lucida Sans Unicode", "Lucida Grande", Sans-Serif; /*Tipo Letra del Menu*/
	font-size: 10px;
	font-weight: none;
}

div.autocomplete {
	position: relative;
	background-color: white;
	border: 1px solid #888;
	margin: 0;
	padding: 0;
}
div.autocomplete ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
div.autocomplete ul li.selected {
	background-color: #ffb;
}
div.autocomplete ul li {
      list-style-type: none;
      display: block;
	  margin: 1px 0;
      padding: 1px;
      cursor: pointer;
      font-size: 10px;
}/* Grilla */
   .mimes{
	height:	24px;
	width:	24px;	
	border: 0;
}
.edit{
		border: 0;
	}
.delete{
		border: 0;
	}
.first{
		height:	22px;
		width:	22px;
		border: 0;
	}
.prev{
		height:	22px;
		width:	22px;
		border: 0;
	}
.next{
		height:	22px;
		width:	22px;
		border: 0;
	}
.last{
		height:	22px;
		width:	22px;
		border: 0;
	}
.nav_tools{
	background:#328aa4 url('../img/datagrid/tr_back.gif') repeat-x;
	padding:.5em;
	border:3px solid #fff;
	color:#fff;
}
.nav_tools:hover{
	background:#328aa4 url('../img/datagrid/tr_back.gif') repeat-x;
	padding:.5em;
	border:1px solid #fff;
	color:#fff;
}
#info-user {
    font-size: 17px;
    margin: 15px 0px;
    color: #000000;
    text-align: right;
}
.text-bold{
    font-weight: bold;
}
.text-color-red{
    color: red;
}
.text-color-green{
    color: green;
}
.text-color-blue{
    color: blue;
}

/*Menu*/
/* barra de menus */
#nav {
	display: block;
	margin: 5;
	padding: 0;
	position: relative;
	margin: 0px 0px 10px 0px;

}
#nav li {      /*configuracion de cabezeras del menu*/

	display: block;
	list-style: none;
	margin:0;
	padding: 0;
	float: left;
	position: !important;
}

#nav a {
	display: block;
}
#nav ul {
	display: none;
	position: absolute;
	left: 500;
	margin: 0;
	padding: 0;
}
* html #nav ul {
	line-height: 0;
}  /* IE6 "fix" */
#nav ul a {
	zoom: 1;
}  /* IE6/7 fix */
#nav ul li {
	float: none;
}
#nav ul ul {
	top: 0;
}
#nav a {
	text-decoration: none;
}
/* Essentials - configure this */
#nav ul {
	width: 150px;   /*Ancho del menu desplagable*/
}


/* Everything else is theming */
#nav {
	background:#328aa4 url(/sav/img/datagrid/tr_back.gif) repeat-x;
	height: 24px;
}

#nav * :hover {
	background-color: #4F8A10;
}
#nav a {
	border-right: 1px solid white;
	color: #000;
	font-size: 12px;
	padding: 5px;
	line-height: 1;
}
#nav li.hover a {
	background-color: #BDE5F8; /*color del menu desplagable*/
	color: #000;
	font-size: 12px;
}
#nav ul {
	top: 25px; /*Distancia entre Menu y Principal y desplagable*/
}
#nav ul li a { 
	background-color: #fff; /*color de Fondo Cuando se des-selecciona el menu desplegable*/
	color: #fff;
	font-size: 0px;
}

#nav ul a.hover {
background:#328aa4 url(/sav/img/datagrid/tr_back.gif) repeat-x;
}

#nav ul a {
	border-bottom: 1px solid white; /*Espacio entre Menus, pero del desplegable*/
	border-right: none;
	opacity: 0.9;
	filter: alpha(opacity = 90);
}