#caja {
width: 1100px; /*ANCHO TOTAL DE LA CAJA*/
text-align:center;
margin:0px auto;
}
#caja2 {
width: 1050px; /*ANCHO TOTAL DE LA CAJA*/
text-align:left;
margin:0px auto;
}
.redondeado {
height: 1px;
overflow: hidden;
background-color: #fff; /* COLOR DE LA CAJA */
}

/* LAS LINEAS PARA FORMAR LA PARTE REDONDEADA */
.r1 { margin: 0 12px;}
.r2 { margin: 0 9px;}
.r3 { margin: 0 7px;}
.r4 { margin: 0 6px;}
.r5 { margin: 0 5px;}
.r6 { margin: 0 4px;}
.r7 { margin: 0 3px;}
.r8 { margin: 0 2px; height: 2px;}
.r9 { margin: 0 1px; height: 3px; }

.contenido {
height: auto;
padding: 0 15px;
}
.contenido2 {
height: auto;
padding: 0 30px;
}



p {
margin: 10px 0;
}
.sr {
position: absolute;
left: -9999em;
top: 0;
width: 1px;
height: 1px;
overflow: hidden;
}
form.koc_form fieldset {
	margin-top: 20px;
margin-bottom: 10px;
}

form.koc_form legend {
    font: normal 62.5% "Lucida Grande", Helvetica, Verdana, Arial;
border: 1px;
padding: 2px 6px
}

form.koc_form label {
font: normal 62.5% "Lucida Grande", Helvetica, Verdana, Arial;
display: inline-block;
line-height: 1.8;
vertical-align: top;
}
form.koc_form fieldset ol {
margin: 0;
padding: 0;
}
form.koc_form fieldset li {
list-style: none;
padding: 5px;
margin: 0;
}
form.koc_form fieldset fieldset {
border: none;
margin: 3px 0 0;
}
form.koc_form fieldset fieldset legend {
padding: 0px;
font-weight: normal;
}
form.koc_form fieldset fieldset label {
display: block;
width: auto;
}
form.koc_form em {
font-weight: bold;
font-style: normal;
color: #f00;
}
form.koc_form label {
width: 120px; /* Width of labels */
}
form.koc_form fieldset fieldset label {
margin-left: 123px; /* Width plus 3 (html space) */
}
/**//*/
form.koc_form legend {
display: inline-block;
} /* IE Mac legend fix */
