@charset "utf-8";
/* CSS Document */

body {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
	line-height: 15px;
	background-color: #316b87;
	text-align: center;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	color: #2c6785;
}
a {
	color: #2c6785;
	text-decoration: none;
}
a:hover {
	color: #000000;
	text-decoration: none;
}

.clear {
	clear: both;
}


#todo {
	background-image: url(../images/generales/sombra_todo.gif);
	width: 776px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}
#todo #arriba {
	height: 3px;
}
#todo #envoltorio {
	padding-right: 3px;
	padding-left: 3px;
	position: relative;
	height: 370px;
}
#todo #abajo {
	height: 3px;
	position: absolute;
	top: 370px;
	left: 0px;
}
#izquierda {
	float: left;
	width: 243px;
	position: absolute;
	left: 3px;
}
#izquierda #ingreso {
	background-image: url(../images/generales/fondo_ingreso.gif);
	background-repeat: no-repeat;
	height: 134px;
}
#izquierda #ingreso form {
	margin: 0px;
	padding-top: 60px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 20px;
}
#izquierda #ingreso td, #izquierda #ingreso th {
	vertical-align:top;
	}
#izquierda #ingreso .bloque {
	background-color: #FFFFFF;
	background-image: url(../images/generales/fondo_campobuscar.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	border: 1px solid #FFFFFF;
	font-size: 10px;
	width: 120px;
	padding-right: 3px;
	padding-left: 3px;
	margin-bottom: 8px;
	margin-right: 5px;
}

#izquierda #inferior {
	background-image: url(../images/generales/fondo_inferior.gif);
	background-repeat: no-repeat;
	height: 100px;
	font-size:10px;
	color:#000000;
	padding-top: 25px;
	padding-left: 15px;
	padding-right: 15px;
}

#derecha {
	width: 527px;
	position: absolute;
	right: 3px;
}
#derecha #hoy {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 22px;
	font-size: 10px;
	color: #babbbc;
	background-image: url(../images/generales/ico_fecha.gif);
	background-repeat: no-repeat;
	padding-left: 25px;
	padding-top: 4px;
	padding-right: 7px;
}


/* DIV FINALES */

#colofon {
	height: 23px;
	font-size: 10px;
	font-weight: bold;
	padding-top: 6px;
	padding-right: 5px;
	padding-left: 5px;
	color: #000000;
}
#colofon a {
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
#colofon a:hover {
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}
#colofon ul {
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
}
#colofon li {
	float: left;
}
#colofon li.opcion{
	padding-left:20px;
	font-weight: normal;
	background-image: url(../images/generales/separa_colofon.gif);
	background-repeat: no-repeat;
	background-position: 10px 0px;
}
#colofon li.opcion a{
	color:#000000;
	text-decoration:none;
}
#colofon li.opcion a:hover{
	color:#000000;
	text-decoration:underline;
}
#colofon li.cyber {
	font-weight: normal;
	color: #9c9c9c;
	float: right;
}
#colofon li.cyber a{
	color: #9c9c9c;
	text-decoration:none;
}
#colofon li.cyber a:hover{
	color: #333333;
	text-decoration:none;
}
